<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/workouts}">Workouts</a></li>
            <li><a th:href="@{/workoutjourney}">My Workout Journey</a></li>
            <li><a th:href="@{/categories}">Categories</a></li>
            <li><a th:href="@{/exercises}">Exercises</a></li>
            <li><a th:href="@{/users}">Users</a></li>
        </ul>
    </nav>
</body>
</html>
